@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  scroll-behavior: smooth;
}

footer {
  text-align: center;
  padding-bottom: 25px;
}

.link,
.link:visited {
  color: black;
  display: flex;
}

.link svg {
  height: 28px;
  width: 28px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: lightskyblue;
}

.nav {
  display: flex;
  align-items: center;
  gap: 50px;
  border: 3px solid black;
  padding: 10px 20px;
  border-radius: 12px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.items {
  font-size: 18px;
  font-weight: 500;
  padding: 4px 10px;
  border: none;
  background-color: transparent;
}

.logo {
  padding: 5px;
  border: none;
  background-color: transparent;
  font-size: 22px;
  font-weight: 900;
  color: black;
}

.socials {
  display: flex;
  align-items: center;
  gap: 30px;
}

.hero img {
  display: block;
  height: 475px;
  width: 375px;
  border-radius: 12px;
  object-fit: cover;
}

.panel {
  min-height: 100vh;
  border: 1px solid black;
  scroll-margin-top: 80px;
}

.hero {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
}

.bioAll {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.bio {
  display: flex;
  flex-direction: column;
  gap: 17px;
}

.hi {
  font-size: 22px;
}

.lo,
.date {
  display: flex;
  align-items: center;
  gap: 7px;
  font-size: 18px;
}

svg {
  height: 18px;
  width: 18px;
}

.name {
  font-size: 30px;
  font-weight: 900;
}

.status {
  font-size: 26px;
  font-weight: 500;
}

.myWork {
  font-size: 20px;
  font-weight: 500;
  border: 2px solid black;
  border-radius: 12px;
  width: fit-content;
  padding: 10px 15px;
}

.moto {
  font-size: 18px;
}

.exp {
  display: flex;
  flex-direction: column;
  padding: 0px 50px;
}

.secTitle {
  display: flex;
  justify-content: center;
  padding: 15px 0px 50px 0px;
  border: 1px solid black;
}

.jobs {
  border: 2px solid black;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  border-radius: 12px;
}

.job {
  border-radius: 12px;
  width: 500px;
  border: 1px solid black;
  border-radius: 12px;
  height: fit-content;
}

.jobInfo,
.projectInfo {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.preview {
  padding-top: 20px;
}

.pic {
  border: 1px solid black;
  background-image: url('assets/isue.png');
  background-position: center;
  background-repeat: no-repeat;
  min-height: 300px;
  position: relative;
}

.job-overlay,
.project-overlay {
  position: absolute;
  bottom: 15px;
  left: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 10px;
}

.place {
  display: flex;
  align-items: center;
  gap: 10px;
}

.impact {
  line-height: 27px;
}

.tools {
  border: 2px solid black;
  border-radius: 12px;
  padding: 5px 15px;
}

.tech {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.langs img {
  height: 20px;
  width: 20px;
}

.techs {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.loDate {
  display: flex;
  gap: 10px;
  align-items: center;
}

.projects {
  display: flex;
  flex-direction: column;
  padding: 0px 50px;
}

.creations {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 50px;
}

.creation {
  overflow: hidden;
  border-radius: 16px;
  border: 1px solid black;
}

.prPics {
  position: relative;
  height: 250px;
}

.prPics img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.preview svg {
  width: 25px;
  height: 25px;
}

.lang {
  display: flex;
  flex-direction: column;
  gap: 150px;
  /* justify-content: center; */
  border: 1px solid black;
  min-height: 100vh;
  padding: 25px 0px;
}

.langs {
  display: flex;
  gap: 50px;
  flex-direction: column;
  align-items: center;
}

.skillPics {
  display: flex;
  align-items: center;
  gap: 75px;
}

.skills {
  display: flex;
  flex-direction: column;
  padding: 0px 50px;
}

.skillPics img {
  height: 50px;
  width: 50px;
}
